h1 {
  text-align: center;
  border: 5px solid red;
  margin: 5px;
}

input {
  width: 200px;
  padding: 10px;
  margin-left: 34%;
}

button {
  width: 75px;
  padding: 10px;
}

.container {
  display: inline-block;
}
