body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #111;
}

.page {
  margin-top: 32%;
}

h1 {
  margin-top: auto;
  text-align: center;
}

.container {
  align-content: center;
  overflow: hidden;
  display: grid;
}

.map {
  display: block;
  margin-left: auto;
  margin-right: 2%;
  padding-top: 1%;
  padding-left: 0;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}
form {
  display: block;
  margin-left: 44%;
}

.weather-form {
  display: block;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-bottom: 0;
  margin-top: 1%;
  text-align: left;
  margin-left: 0;
}

.city-name {
  margin-top: 0%;
}

p {
  margin-top: 0;
}
